.flag-scroller {
  overflow: hidden;
  white-space: nowrap;
}

.flags {
  display: inline-block;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.flags img {
  display: inline-block;
  margin: 0 10px;
} 